@import '@assets/styles/vars.scss';

.loanCard {
    width: 100%;

    &__description {
        &-item {
            font: $text-large-medium;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}