@import '../../../assets/styles/vars.scss';

.mainBtn {
    width: max-content;
    height: auto;
    padding: 8px;
    background: #003CFF;
    border-radius: 16px;
    border: none;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        transition: 0.3s;
        -webkit-box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
    }

    & span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 8px;
        font: $text-large;
    }
}

.subscribeBtn {
    width: max-content;
    height: auto;
    padding: 8px;
    background: #686DF1;
    border-radius: 50px;
    border: none;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        transition: 0.3s;
        -webkit-box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
    }

    & span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 8px;
        font: $text-large;
    }
}