@import '@assets/styles/vars.scss';

.label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    font: $text-large-medium;
    color: #1A202C;

    span {
        display: flex;
        align-items: start;
    }
}