@import '@assets/styles/vars.scss';

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 3vh 5vw;
    padding: 48px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 28px;

    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 32px 0;
        &-field {
            width: 50%;
            padding-right: 40px;
            border-right: 1px dashed rgba(128, 128, 128, 0.4);
        }

        &-info {
            width: 50%;
            padding-left: 40px;

            .info__title {
                font: $h4;
            }

            .info__value-default {
                visibility: hidden;
            }
            .info__value-visible {
                visibility: visible;
                font: $text-large-medium;
                width: 220px;
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(128, 128, 128, 0.2);
            }
        }
    }

    &__main {
        display: flex;
        flex-direction: column;

        &-title {
            font: $caption-bold;
        }
        
        &-fields {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 32px 16px;

            .field {
                flex-basis: 270px;
                flex-grow: 2;
                position:relative;
            }
        }

        &-button {
            display: flex;
            flex-direction: row;
            justify-content: end;
            margin-top: 24px;
        }
    }
}

.icon-error, .icon-success {
    position: absolute;
    top: 40%;
    width: 35px;
    height: 35px;
    right: 13px;
}

.error {
    height: 15px;
    font: $tooltip;
    color: #FF5631;
    margin: 2px 0px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .form__header {
        flex-wrap: wrap;

        &-field {
            width: 100%;
            padding-right: 0;
            border-right: 0;
        }

        &-info {
            width: 100%;
            padding-left: 0;
        }
    }
}