@import '../../../assets/styles/vars.scss';

.header {
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
    padding: 1vh 5vw;

    &__logo {
        font: $h3;
        color: #B4387A;
        text-decoration: none;
        cursor: pointer;
    }

    &__logo:focus {
        color: #B4387A;
    }

    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        &-icon {
            display: none;
        }

        &-items ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            align-items: center;
        }
          
        &-items ul li:not(:last-child) {
            margin-right: 40px;
        }
          
        &-items ul a {
            font: $text-large;
            text-decoration: none;
            color: #1D1929;
            font-weight: 700;
        }
        
        &-items ul a.active {
            position: relative;
            color: #B2A35F;
        }
    }
}
  
@media (max-width: 1000px) {
    .header__navbar-icon {
        display: block;
        cursor: pointer;
    }

    .header__navbar-items {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #F5F4FF;
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

    .header__navbar-items.active {
        width: 270px;
    }

    .header__navbar-items ul {
        display: flex;
        flex-direction: column;
    }

    .header__navbar-items ul li:not(:last-child) {
        margin-right: 0;
    }
    
    .header__navbar-items ul li {
        margin-bottom: 22px;
    }
}
  