@import '@assets/styles/vars.scss';

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3vh 0;
    padding: 0 5vw;
    box-sizing: border-box;

    &__header {
        font: $h3;
        text-align: center;
    }

    &__figure {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        & figcaption {
            font: $text-large;
            text-align: center;
        }

        & img {
            width: 70vw;
            margin-top: 3vmax;
        }
    
    }
}
