@import './normalize.scss';
@import './vars.scss';

html,
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    width: auto;
    background-color: #F5F4FF;
}

.container {
    display: flex;
    flex-direction: column;
}

.request-error {
    text-align: center;
    color: #FF5631;
    font: $text-large-medium;
    margin: 10px;
}