$h1: 800 calc(36px + 0.5vw) Ubuntu;
$h3: 800 calc(24px + 0.5vw) Ubuntu;
$h4: 800 calc(20px + 0.5vw) Ubuntu;
$text-large: 400 calc(16px + 0.5vw) Ubuntu;
$text: 400 calc(14px + 0.5vw) Ubuntu;
$caption: 600 calc(20px + 0.5vw) Ubuntu;
$text-large-bold: 800 calc(16px + 0.5vw) Ubuntu;
